<template>
    <article>
        <label>Dirección de entrega</label>
        <p class="small text-muted">
            Para conocer los productos disponibles en tu zona ingresa tu dirección
        </p>
        <div class="el-form-item">
            <div class="el-input el-input--prefix">
                <gmap-autocomplete
                    class="el-input__inner input-map"
                    placeholder="Ingresa la dirección de entrega"
                    :select-first-on-enter="true"
                    @place_changed="search"/>
                <span class="el-input__prefix"><i class="el-input__icon el-icon-location-outline"></i></span>
            </div>
        </div>

        <div v-loading="loading.search">

            <div class="el-form-item" v-if="message.show">
                <el-alert
                    :closable="false"
                    title="Lo sentimos :("
                    type="info"
                    :description="message.text">
                </el-alert>
            </div>

            <div class="el-form-item" v-if="products.length">
                <label>Productos disponibles</label>
                <p class="small text-muted">
                    Selecciona uno o más productos para poder realizar tu pedido
                </p>
                <el-checkbox-group v-model="purchase.products" size="small">
                    <el-checkbox v-for="(p,k) in products" :label="p" :key="k" border class="checkbox-products">{{p.autor}}</el-checkbox>
                </el-checkbox-group>
            </div>

        </div>

        <div class="el-form-item">
            <order-resume :available="buttonMakeOrder" :purchase="purchase" />
            <el-button type="text" @click="reset">Limpiar</el-button>
        </div>

    </article>
</template>

<script>
import OrderResume from './OrderResume.vue'
export default {
    components: {
        'order-resume' : OrderResume
    },
    name: 'GoogleMap',
    data() {
        return {
            loading : {
                search : false,
                show : true,
            },
            polygons : [],
            products :[],
            purchase : {
                address : '',
                deliveryZoneId : null,
                products : []
            },
            message : {
                show : false,
                text : ''
            }
        }
    },
    computed: {
        buttonMakeOrder() {
            return this.purchase.products.length ? false : true;
        }
    },
    mounted() {
        this.getDeliveryZones()
    },
    methods: {
        getDeliveryZones(){
            var self = this
            axios.get('guest/delivery-zones')
                 .then( response => {
                self.polygons = response.data.result
            });
        },
        search(place){
            this.loading.search = true
            this.message.show = false
            if ( typeof place.geometry === "undefined" ){
                this.message.show = true
                this.message.text = 'No se pudo obtener información de la dirección ingresada'
                this.loading.search = false
            }

            var inside = {
                success : false,
                deliveryZoneId : null
            }

            //  Search address inside delivery zones
            for( var i in this.polygons ){
                var polygon = new google.maps.Polygon( { paths: this.polygons[i].polygon } )
                inside.success = google.maps.geometry.poly.containsLocation(place.geometry.location,polygon)
                if ( inside.success ) {
                    inside.deliveryZoneId = this.polygons[i].id
                    break
                }
            }
            //  Not found address in delivery zones
            if ( inside.success == false ) {
                this.message.show = true
                this.message.text = 'Tu dirección no se encuentra dentro de nuestro rango de reparto'
                this.loading.search = false
                return
            }

            //  Yes, address inside range of delivery zones
            //  Search products belong to Delivery Zones
            this.getProductsByDeliveryZoneId(inside.deliveryZoneId);
        },
        getProductsByDeliveryZoneId(id){
            var self = this
            axios.get('guest/delivery-zones/'+id+'/products')
                 .then( response => {
                var arr = response.data.result
                if ( arr.length == 0 ) {
                    this.message.show = false
                    this.message.text = 'No se encontraron productos disponibles dentro de nuestro rango de reparto para la dirección ingresada'
                    this.loading.search = false
                    return
                }
                //  Yes products found
                self.products = response.data.result
                this.purchase.deliveryZoneId = id
                self.loading.search = false
            });
        },
        reset(){
            window.location.reload()
        },
    }
}
</script>

<style lang="scss">
.pac-container {
    padding: 0 10px;
    box-shadow: 0 0 5px rgba(#000,.3);
    .pac-item {
        padding: 6px 10px
    }
}
.checkbox-products {
    width: 100% !important;
    &.el-checkbox.is-bordered+.el-checkbox.is-bordered {
        margin-left: 0 !important
    }
}
</style>
