<template>
    <span>
        <el-button round plain :disabled="available" @click="dialogVisible = true">
            Realizar Pedido</el-button>
        <el-dialog
            title="Resumen de Pedido"
            :visible.sync="dialogVisible"
            width="40%">
            <div v-for="(p,k) in purchase.products" :key="k" class="card-item">
                {{ p.autor }}
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Volver</el-button>
                <el-button type="primary"
                    @click="ready">Listo</el-button>
            </span>
        </el-dialog>
    </span>
</template>

<script>
export default {
    name : 'OrderResume',
    props: ['purchase','available'],
    data() {
        return {
            dialogVisible: false
        }
    },
    methods:{
        ready(){
            window.location.reload()
        }
    }
}
</script>

<style lang="scss">
.card-item {
    padding: 8px 0;
    border-bottom: 1px solid #EEE;
    &:last-child {
        border: none
    }
}
</style>
