// Bootstrap
$brand-primary : #000 !default;
$brand-info : #FFDD26 !default;
$brand-danger : #FF3447 !default;
// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: "Lato", sans-serif;
// $font-size-base: 0.9em;
$line-height-base: 1.6;
