// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900);
// Variables
@import 'variables';
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$footer-height : 40px;

body {
    background-color: #FAFAFA;
    padding-bottom: $footer-height + 30px;
}

footer.footer-app {
    background-color: #FAFAFA;
    position: fixed;
    bottom: 0;
    height: $footer-height;
    line-height: $footer-height;
    width: 100%;
    z-index: 1;
}

.text-primary { color: $brand-primary }
.text-info { color: $brand-info }
.text-danger { color: $brand-danger }

.container-medium {
    max-width: 800px;
    margin:0 auto;
}

.container-small {
    max-width: 460px;
    margin:0 auto;
}

$navbar--height : $navbar-height + $navbar-padding-vertical;

.navbar--brand {
    // text-decoration: none !important;
    width: $navbar-height;
    height: auto;
    display: block;
    padding: 0;
    float:left;
}

.navbar-inverse {
    &,a { color: #FFF }
}

a.navbar--button {
    background-color: $brand-info;
    margin-top: 13px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-size: .85em;
    font-weight: bold;
    color: #000;
    display: block;
    &:hover {
        background-color: lighten($brand-info,15%);
    }
}

.navbar--item {

    &, a {
        height: $navbar--height;
        line-height: $navbar--height;
        padding: 0 15px;
    }
    a {
        text-decoration: none;
        display: block;
        font-weight: bold;
        &:hover {
            color: $brand-info
        }
    }
}

.el-button {
    $primary-light : lighten($brand-primary,80%);
    &:focus,
    &:hover {
        color: #000 !important;
        border-color: #000 !important;
        background-color: inherit !important;
    }

    border-width: 3px !important;
    &.el-button--mini,
    &.el-button--small {
        border-width: 2px !important
    }

    &.el-button--text {
        color: #555;
        padding: 0 10px;
        border: none !important
    }
    &.el-button--primary {
        color: #FFF !important;
        border-color: #000 !important;
        background: #000 !important;
    }
    &.is-plain {
        background-color: inherit !important;
        border-color: #555 !important;
        font-weight: bold;
        &:focus,
        &:hover {
            color: #FFF !important;
            border-color: #000 !important;
            background: #000 !important;
        }
    }
    &.is-disabled {
        border-color: #c0c4cc !important;
        &:focus,
        &:hover {
            color: #c0c4cc !important;
            border-color: #c0c4cc !important;
            background-color: transparent !important;
        }
    }
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: #333 !important
}

.el-form--label-top .el-form-item__label {
    line-height: 20px !important;
    padding: 0 0 5px !important
}

.dashboard {
    a.thumbnail  {
        background-color: $brand-info;
        padding: 30px;
        text-decoration: none !important;
        border: none;
        color: #000;
        &:hover {
            background-color: lighten($brand-info,10%);
            // border-color: #000;
        }
        .glyphicon {
            font-size: 45px;
            margin-bottom: 20px;
            display: block;
        }
        .title { font-weight: bold}
    }
}

.breadcrumb {
    li {
        a { font-weight: bold; }
        // a { color: $brand-info; }
        &.active { color: $brand-danger }
    }
}
