<template>
    <article>

        <el-button
            round
            plain
            size="mini"
            icon="el-icon-tickets"
            @click="open = true">Crear Producto</el-button>

        <el-dialog
            title="Añadir Nuevo Producto"
            :visible.sync="open" append-to-body v-if="open">

            <el-form ref="form" status-icon label-position="top" :model="form" :rules="rules">

                <el-form-item prop="title" label="Título">
                    <el-input v-model="form.title" placeholder="Título"></el-input>
                </el-form-item>

                <el-form-item prop="autor" label="Autor">
                    <el-input v-model="form.autor" placeholder="Autor"></el-input>
                </el-form-item>

                <div class="row">
                    <div class="col-sm-4">
                        <el-form-item prop="price" label="Precio">
                            <el-input v-model="form.price" placeholder="Precio"></el-input>
                        </el-form-item>
                    </div>
                    <div class="col-sm-4">
                        <el-form-item prop="discount" label="Dscto.">
                            <el-input v-model="form.discount" placeholder="Dscto."></el-input>
                        </el-form-item>
                    </div>
                    <div class="col-sm-4">
                        <el-form-item prop="stock" label="Stock">
                            <el-input v-model="form.stock" placeholder="Stock"></el-input>
                        </el-form-item>
                    </div>
                </div>

                <el-form-item prop="deliveryZones" label="Zonas de Reparto">
                    <delivery-zones :itemsCheck="[]" @set="form.deliveryZones = $event"/>
                </el-form-item>

            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button
                    round
                    @click="open = false">Salir</el-button>
                <el-button
                    @click="onSubmit('form')"
                    round
                    type="primary"
                    :loading="loading">Guardar</el-button>
            </span>

        </el-dialog>

    </article>

</template>

<script>
import DeliveryZones from './DeliveryZones.vue'
export default {
    components: {
        DeliveryZones
    },
    data() {
        return {
            open : false,
            loading : false,
            form: {
                title: '',
                autor: '',
                price: 0.00,
                discount: 0.00,
                stock: 1,
                deliveryZones : []
            },
            rules: {
                title: [
                    { required: true, trigger: 'change' },
                ],
                autor: [
                    { required: true, trigger: 'change' },
                ],
                price: [
                    { required: true, trigger: 'change' },
                ],
                discount: [
                    { required: true, trigger: 'change' },
                ],
                stock: [
                    { required: true, trigger: 'change' },
                ],
                deliveryZones: [
                    { required: true, trigger: 'change' },
                ],
            }
        }
    },
    methods: {
        onSubmit(form) {
            let self = this
            this.$refs[form].validate((valid) => {
                if (valid) {
                    self.store(self.form)
                } else {
                    self.$notify.error({
                        title: 'Ups!',
                        message: 'Hay campos que aún faltan completar'
                    });
                }
            });
        },
        store(data){
            var self = this
            self.loading = true
            axios.post('products',data)
                 .then( response => {
                self.$emit('set',response.data);
                self.$notify.success({
                    title: 'Éxito!',
                    message: response.data.message
                });
                self.$refs['form'].resetFields()
                self.open = false
                self.loading = false
            }).catch( error => {
                self.$notify.error({
                    title: 'Ups!',
                    message: error.data.message
                });
                self.loading = false
            });
        }
    }
}
</script>
