<template>
    <el-checkbox-group
        @change="$emit('set',zones)"
        v-model="zones" size="small" v-loading="loading">
        <el-checkbox v-for="(z,k) in deliveryZones" :key="k" :label="z.id" border>
            {{ z.name }}
        </el-checkbox>
    </el-checkbox-group>
</template>

<script>
export default {
    props : ['itemsCheck'],
    data() {
        return {
            loading : true,
            zones : this.itemsCheck,
            deliveryZones : []
        }
    },
    created(){
        this.getDeliveryZones()
    },
    methods: {
        getDeliveryZones(){
            var self = this
            axios.get('delivery-zones')
                 .then(function (response) {
                self.deliveryZones = response.data.result
                self.loading = false
            });
        }
    },
}
</script>
