<template>
    <el-button
        circle
        icon="el-icon-delete"
        size="small"
        type="danger"
        v-loading.fullscreen.lock="loading"
        @click="confirm"></el-button>
</template>

<script>
export default {
    props: ['scope'],
    data(){
        return {
            loading : false,
        }
    },
    methods: {
        confirm(){
            let self = this
            this.$confirm('¿Estás seguro de eliminar el producto?','Eliminar Producto', {
                confirmButtonText: 'Sí',
                cancelButtonText: 'No',
            }).then(() => {
                self.destroy()
            }).catch(() => {});
        },
        destroy(){
            var self = this
            self.loading = true
            axios.delete('products/'+this.scope.row.id)
                 .then(function (response) {
                //  Se elimina el objeto de la fila
                self.$emit('delete')
                self.loading = false
                self.$notify.success({
                    title: 'Éxito!',
                    message: response.data.message
                });
            }).catch( error => {
                self.$notify.error({
                    title: 'Ups!',
                    message: error.data.message
                });
                self.loading = false
            });
        }
    }
}
</script>
