<template>

<span>
    <el-button
        circle
        icon="el-icon-edit"
        size="small"
        v-loading.fullscreen.lock="loading.dialog"
        @click="edit"></el-button>

    <el-dialog title="Editar"
        :visible.sync="open" append-to-body v-if="open">

        <el-form ref="form" label-position="top" :model="form" :rules="rules" status-icon>

            <el-form-item prop="title" label="Título">
                <el-input v-model="form.title" placeholder="Título"></el-input>
            </el-form-item>

            <el-form-item prop="autor" label="Autor">
                <el-input v-model="form.autor" placeholder="Autor"></el-input>
            </el-form-item>

            <div class="row">
                <div class="col-sm-4">
                    <el-form-item prop="price" label="Precio">
                        <el-input v-model="form.price" placeholder="Precio"></el-input>
                    </el-form-item>
                </div>
                <div class="col-sm-4">
                    <el-form-item prop="discount" label="Dscto.">
                        <el-input v-model="form.discount" placeholder="Dscto."></el-input>
                    </el-form-item>
                </div>
                <div class="col-sm-4">
                    <el-form-item prop="stock" label="Stock">
                        <el-input v-model="form.stock" placeholder="Stock"></el-input>
                    </el-form-item>
                </div>
            </div>

            <el-form-item prop="deliveryZones" label="Zonas de Reparto">
                <delivery-zones :itemsCheck="form.deliveryZones" @set="form.deliveryZones = $event"/>
            </el-form-item>

        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button round @click="open = false">Salir</el-button>
            <el-button round type="primary" @click="onSubmit('form')" :loading="loading.submit">Guardar Cambios</el-button>
        </span>

    </el-dialog>

</span>

</template>

<script>
import DeliveryZones from './DeliveryZones.vue'
export default {
    components: {
        DeliveryZones
    },
    props: ['scope'],
    data(){
        return {
            open : false,
            form : {
                deliveryZones : []
            },
            rules: {
                title: [
                    { required: true, trigger: 'change' },
                ],
                autor: [
                    { required: true, trigger: 'change' },
                ],
                price: [
                    { required: true, trigger: 'change' },
                ],
                discount: [
                    { required: true, trigger: 'change' },
                ],
                stock: [
                    { required: true, trigger: 'change' },
                ],
                deliveryZones: [
                    { required: true, trigger: 'change' },
                ],
            },
            loading : {
                submit : false,
                dialog : false,
            }
        }
    },
    methods: {
        edit(){
            var self = this
            self.loading.dialog = true
            axios.get('products/'+this.scope.row.id+'/edit')
                 .then(function (response) {
                self.form = response.data
                self.loading.dialog = false
                self.open = true
            });
        },
        onSubmit(form) {
            let self = this
            this.$refs[form].validate((valid) => {
                if (valid) {
                    self.update(self.form)
                } else {
                    self.$notify.error({
                        title: 'Ups!',
                        message: 'Hay campos que aún faltan completar'
                    });
                }
            });
        },
        update(data){
            var self = this
            self.loading.submit = true
            axios.put('products/'+this.scope.row.id,data)
                 .then(function (response) {
                self.$emit('update',response.data)
                self.$notify.success({
                    title: 'Éxito!',
                    message: response.data.message
                });
                self.open = false
                self.loading.submit = false
            }).catch( error => {
                self.$notify.error({
                    title: 'Ups!',
                    message: error.data.message
                });
                self.loading.submit = false
            });
        }
    }
}
</script>
