<template>

    <el-card shadow="never">
        <div slot="header">
            <create @set="tableData.unshift($event)"/>
        </div>
        <div>
            <el-table
                size="mini"
                :data="tableData"
                v-loading="loading"
                style="width: 100%">

                <el-table-column label="Código" prop="id" width="80">
                    </el-table-column>

                <el-table-column label="Título" prop="title" min-width="140">
                    </el-table-column>

                <el-table-column label="Autor" prop="autor">
                    </el-table-column>

                <el-table-column label="Precio" prop="price" width="100">
                    </el-table-column>

                <el-table-column label="Dscto." prop="discount" width="80">
                    </el-table-column>

                <el-table-column label="Stock" prop="stock" width="80">
                    </el-table-column>

                <el-table-column align="center" label="Acciones" width="120">
                    <template slot-scope="scope">
                        <edit :scope="scope"
                            @update="$set(tableData,scope.$index,$event)"/>
                        &nbsp;
                        <destroy :scope="scope"
                            @delete="$delete(tableData,scope.$index)"/>

                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-card>

</template>

<script>
import Create from './Create.vue'
import Edit from './Edit.vue'
import Destroy from './Destroy.vue'
export default {
    components : {
        Create,
        Edit,
        Destroy,
    },
    data() {
        return {
            loading : true,
            tableData : [],
        }
    },
    created(){
        this.getTableData()
    },
    methods: {
        getTableData(){
            var self = this
            axios.get('products')
                 .then(function (response) {
                self.tableData = response.data.result
                self.loading = false
            });
        }
    },
}
</script>
