<template>
<el-form ref="form" status-icon label-position="top" :model="form" :rules="rules">

    <el-form-item prop="email">
        <el-input v-model="form.email" placeholder="Correo electrónico"></el-input>
    </el-form-item>

    <el-form-item prop="password">
        <el-input type="password" v-model="form.password" placeholder="Contraseña"></el-input>
    </el-form-item>

    <el-form-item>
        <el-button
            plain
            style="width:100%"
            @click="onSubmit('form')"
            :loading="loading"
            round>INGRESAR</el-button>
    </el-form-item>

</el-form>
</template>

<script>
export default {
    data() {
        return {
            loading : false,
            form: {
                email: '',
                password: '',
            },
            rules: {
                email: [
                    { required: true, type: 'email', message: 'Please email', trigger: 'change' },
                ],
                password: [
                    { required: true, message: 'Please contraseña', trigger: 'change' },
                ],
            }
        }
    },
    methods: {
        onSubmit(form) {
            let self = this
            this.$refs[form].validate((valid) => {
                if (valid) {
                    self.login(self.form)
                } else {
                    self.$notify.error({
                        title: 'Ups!',
                        message: 'Hay campos que aún faltan completar'
                    });
                }
            });
        },
        login(data){
            var self = this
            self.loading = true
            axios.post('login',data )
                 .then(function (response) {
                //  El usuario será redirigido a dashboard o redirectToPage
                window.location.href = response.data.redirect;
            }).catch( error => {
                self.$notify.error({
                    title: 'Ups!',
                    message: error.data.message
                });
                self.loading = false
            });
        }
    }
}
</script>

<style lang="scss">
.el-loading-spinner {
    top: 46%;
    .el-loading-text {
        font-weight: bold;
        margin-top: 20px !important;
    }
}
</style>
