<template>
    <el-button
        plain
        size="mini"
        round
        @click="logout"
        >Cerrar Sesión</el-button>
</template>

<script>
export default {
    methods: {
        logout(){
            var self = this
            const loading = this.$loading({
                lock: true,
                text: 'Cerrando Sesión...',
            });
            axios.post('logout')
                 .then(function (response) {
                if ( response.data.success == false ) return
                window.location.href = response.data.redirect;
            });
        }
    }
}
</script>
