<template>

<el-dropdown trigger="click">
    <div class="el-dropdown-link clearfix">
        <span class="block-item-user">{{ user.email }}</span>
        <span class="block-item-avatar glyphicon glyphicon-user"></span>
    </div>
    <el-dropdown-menu slot="dropdown" class="nav-main-dropdown" style="width:210px">

        <div class="box-dropdown">
            <h5 class="box-user-name">{{ user.name }}</h5>
            <h6 class="box-user-email small text-muted">{{ user.email }}</h6>
        </div>
        <div class="box-dropdown box-divided box-bg box-fixed-last">
            <logout></logout>
        </div>

    </el-dropdown-menu>

</el-dropdown>

</template>

<script>
import Logout from '../auth/Logout.vue'
export default {
    props: ['user'],
    components : {
        'logout': Logout,
    },
    data(){
        return {
            loading : false,
            itemShowSetting : null,
            business : [],
        }
    }
}
</script>

<style lang="scss">
.block-item-user,
.block-item-avatar {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    margin-top: 12px;
    float: left;
}
.block-item-user {
    margin-right: 15px;
}
.block-item-avatar {
    width: 40px;
    background-color: #555;
    border-radius: 50%;
    font-size: 17px;
    text-align: center
}
.block-item-dropdown {
    line-height: 40px;
    margin-top: 14px
}

.nav-main-dropdown {

    .box-dropdown {
        padding: 10px 20px;
        .box-user-name,
        .box-user-email {
            padding: 0;
            margin: 0;
            margin-bottom: 5px
        }
        &.box-divided {
            border-top: 1px solid #EEE;
        }
        &.box-bg {
            background-color: #FAFAFA;
        }
        &.box-fixed-last {
            margin-bottom: -10px
        }
    }

}
.box-items-list {
    .items-list {
        border-top: 1px solid #DDD;
        padding: 0 10px;
        font-size: .9em;
        line-height: 40px;
        position: relative;
        &:last-child {
            border-bottom: 1px solid #DDD;
        }
        .pull-left {
            color: #CCC
        }
        &.active, &.active:hover {
            // background-color: $--color-primary-light-9;
            background-color: #FAFAFA;
            .pull-left {
                color: #FA0;
                font-weight: 600;
            }
        }
    }
}
</style>
