<template>
    <span>

        <el-button size="mini" round
            type="primary"
            @click="open = true">
            Añadir Zona de Reparto</el-button>

        <el-dialog
            fullscreen
            title="Nueva Zona de Reparto"
            :visible.sync="open" append-to-body v-if="open">

            <div class="control-create text-right">
                <el-button size="mini" round type="primary"
                    :loading="loading"
                    @click="onSubmit()">
                    Guardar Zona de Reparto</el-button>
            </div>

            <l-map :polygons="polygons" :edit="true" ref="map"/>

        </el-dialog>

    </span>
</template>

<script>
import LMap from './LMap.vue'
export default {
    components : {
        LMap
    },
    data(){
        return {
            open : false,
            loading : false,
            polygons: [],
        }
    },
    created(){
        this.polygons.push([
            { lng: -77.03847943487130, lat: -12.052440662067488 },
            { lng: -77.02778836431469, lat: -12.067381333965239 },
            { lng: -76.99698544683417, lat: -12.072417328894852 },
            // { lng: -76.98176938238106, lat: -12.039094073275140 }
            // { lng: -77.00712033452953, lat: -12.051307486275954 }
        ])
    },
    methods: {
        onSubmit(){
            var self = this
            var data = {
                polygon : this.$refs.map.edited[0]
            }
            axios.post('delivery-zones',data)
                 .then(function (response) {
                self.loading = true
                self.$notify({
                    type: 'Success',
                    title: 'Éxito!',
                    message: response.data.message
                });
                setTimeout( function(){
                    window.location.reload()
                },500)
            });
        }
    }
}
</script>

<style scss="lang">
.control-create {
    margin: -20px 0 10px;
}
</style>
