<template>
    <el-dropdown @command="handleCommand" style="margin-right:10px">
        <span class="el-dropdown-link">
            Lista de Zonas <i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
            <el-dropdown-item :command="z" v-for="(z,k) in zones" :key="k">
                {{ z.name }}
                &nbsp; <i class="el-icon-delete"></i>
            </el-dropdown-item>
        </el-dropdown-menu>
    </el-dropdown>
</template>

<script>
export default {
    props: ['zones'],
    data(){
        return {
        }
    },
    methods: {
        handleCommand(command){
            let self = this
            this.$confirm('¿Estás seguro de eliminar la Zona de Reparto?','Eliminar Zona', {
                confirmButtonText: 'Sí',
                cancelButtonText: 'No',
            }).then(() => {
                self.destroy(command.id)
            }).catch(() => {});
        },
        destroy(id){
            var self = this
            const loading = this.$loading({
                lock: true,
                text: 'Espere por favor...',
            });
            axios.delete('delivery-zones/'+id)
                 .then(function (response) {
                loading.close()
                self.$notify({
                    type: 'Success',
                    title: 'Éxito!',
                    message: response.data.message
                });
                setTimeout( function(){
                    window.location.reload()
                },1000)
            });
        }
    }
}
</script>
