<template>
    <article>
        <div class="controls">
            <el-alert
                style="margin-bottom:10px"
                v-if="message.show"
                :closable="false"
                title="Ups! :("
                type="info"
                :description="message.text">
            </el-alert>
            <div class="text-right">
                <destroy :zones="zones" v-if="!message.show"/>
                <create />
            </div>
        </div>
        <l-map :polygons="polygons" :edit="false" ref="map" v-if="!message.show" v-loading="loading.zones"/>
    </article>
</template>

<script>
import LMap from './LMap.vue'
import Create from './Create.vue'
import Destroy from './Destroy.vue'
export default {
    components : {
        LMap,
        Create,
        Destroy
    },
    data(){
        return {
            loading : {
                zones : true,
                submit : false
            },
            message : {
                show : false,
                text : 'Todavía no has añadido una zona de reparto'
            },
            polygons: [],
            zones : []
        }
    },
    created(){
        this.getDeliveryZones()
    },
    methods: {
        getDeliveryZones(){
            var self = this
            axios.get('delivery-zones')
                 .then(function (response) {
                var zones = response.data.result
                if (zones.length) {
                    self.zones = zones
                    for (var i in zones ) {
                        self.polygons.push(zones[i].polygon)
                    }
                }
                else {
                    setTimeout(function(){
                        self.message.show = true
                    },300)
                }
                self.loading.zones = false
            });
        },
    }
}
</script>

<style lang="scss">
.controls {
    margin-top: -15px;
    margin-bottom: 8px;
}
</style>
