<template>
    <gmap-map :center="center" :zoom="13"
        style="width: 100%; height: 480px" ref="map">
        <gmap-polygon
            v-if="paths.length > 0"
            :paths="paths"
            :editable="edit"
            :draggable="edit"
            @paths_changed="updateEdited($event)"
            @rightclick="handleClickForDelete"
            ref="polygon">
        </gmap-polygon>
    </gmap-map>
</template>

<script>

function closeLoop (path) {
    return path.concat(path.slice(0, 1))
}

export default {
    props: ['polygons','edit'],
    data(){
        return {
            center : { lat: -12.051062807040868, lng: -77.03661570339897 },
            edited : this.polygons,
            mvcPaths : null,
            errorMessage : null,
            polygonGeojson : '',
            paths : this.polygons,
        }
    },
    methods: {
        updateEdited(mvcPaths) {
            let paths = []
            for (let i=0; i<mvcPaths.getLength(); i++) {
                let path = []
                for (let j=0; j<mvcPaths.getAt(i).getLength(); j++) {
                    let point = mvcPaths.getAt(i).getAt(j)
                    path.push({lat: point.lat(), lng: point.lng()})
                }
                paths.push(path)
            }
            this.edited = paths
        },
        handleClickForDelete($event) {
            if ($event.vertex) {
                this.$refs.polygon.$polygonObject.getPaths()
                .getAt($event.path)
                .removeAt($event.vertex)
            }
        }
    }
}
</script>
